.sidenav {
    background-color: #3f51B5;
    width: 200px;
}

.mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
    color: #fff !important;
}

.sidenav ::ng-deep .mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
    color: #fff !important;
}

.sidenav ::ng-deep .material-icons {
    color: #fff !important;
}

.sidenav i {
    color: #fff !important;
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #fff;
}